.messages{
    width: 100%;
    &__container {
        max-width: 1890px;
        padding: 10px 15px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    &__title {
        width: 100%;
        display: flex;
        font-size: 30px;
        background: #1b2730;
        padding: 10px;
        border-radius: 15px;
        margin-bottom: 15px;
    }
    &__list {
        width: 100%;
        background: #1b2730;
        border-radius: 15px;
        padding: 10px;
    }
}

.message {
    cursor: pointer;
    padding: 10px;
    display: flex;
    border: 2px solid gray;
    border-radius: 15px;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    &__avatar {
        width: 80px;
        height: 80px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        margin-right: 10px;
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__name {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

.conversation {
    width: 100%;
    height: 90vh;
    &__container {
        max-width: 1200px;
        height: 100%;
        margin: 0px auto;
        padding: 15px;
        background: #1b2730;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
    }
    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid #2a3843;
        margin-bottom: 10px;
        position: relative;
        min-height: 81px;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            margin-bottom: 10px;
        }
    }
    &__top-select-count {
        font-size: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }
    &__top-buttons {
        button {
            font-size: 20px;
            background: transparent;
            color: white;
            margin-right: 10px;
            &:nth-child(1):hover {
                color: red;
            }
            &:nth-child(2):hover {
                color: rgb(30, 174, 187);
            }
            &:nth-child(3) {
                margin-right: 0px;
            }
            &:nth-child(3):hover {
                color: gray;
            }
        }
    }
    &__top-cancel {
        margin-left: 10px;
        cursor: pointer;
        &:hover {
            color: rgb(203, 15, 15);
        }
    }
    &__top-name {
        margin-bottom: 5px;
    }
    &__form {
        width: 100%;
        display: flex;
        textarea {
            padding: 15px;
            width: 95%;
            height: 100px;
            border-radius: 15px;
            background: #2a3843;
            resize: none;
            &::-webkit-scrollbar { width: 0; }
            -ms-overflow-style: none;
            color: white;
        }
    }
    &__body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        &::-webkit-scrollbar { width: 0; }
        -ms-overflow-style: none;
    }
    &__cancel {
        width: 50px;
        border-radius: 15px;
        transition: all .05s;
        &:hover {
            background: rgb(147, 2, 2);
        }
    }
    &__send {
        width: 50px;
        border-radius: 15px;
        transition: all .05s;
        &:hover {
            background: rgb(1, 83, 1);
        }
    }
    &__connection {
        position: absolute;
        font-size: 15px;
        padding: 10px;
        border-radius: 15px;
    }
    &__connection--green {
        background: rgb(16, 73, 16);
    }
    &__connection--red {
        background: rgb(100, 9, 9);
    }
    &__no-message {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 25px;
    }
}

.conversation-pop {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    position: absolute;
    top: 0px;
    left: 0px;
}

.conversation-message-my {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    &:hover {
        background: rgba($color: #afafaf, $alpha: 0.1);
    }
    &--selected {
        background: rgba($color: #afafaf, $alpha: 0.1);
    }
    &__content {
        padding: 10px;
        color: #fff;
        display: flex;
        overflow: hidden;
        word-break: break-all;
        min-height: 40px;
        min-width: 150px;
        max-width: 50vw;
        border-radius: 20px;
        border-bottom-right-radius: 0;
        margin: 8px 0px 8px 0px;
        font-size: 14px;
        line-height: 1.5em;
        position: relative;
        transition: width .3s ease-in-out;
        text-align: left;
    }
    &--theme {
        background-image: linear-gradient(to bottom, #5f676d, #577992, #aebbc1);
        background-size: 100vw 100vh;
        background-position-y: 100vh;
        background-attachment: fixed;
    }
    &__time {
        margin-right: 5px;
        color: rgb(74, 80, 100);
    }
    &__edit {
        margin-right: 5px;
        &:hover{
            color: #1da1f2;
        }
    }
}
.conversation-message-guest {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    &:hover {
        background: rgba($color: #afafaf, $alpha: 0.1);
    }
    &--selected {
        background: rgba($color: #afafaf, $alpha: 0.1);
    }
    &__content {
        padding: 10px;
        color: #fff;
        display: flex;
        overflow: hidden;
        min-height: 40px;
        min-width: 150px;
        max-width: 50vw;
        border-radius: 20px;
        border-bottom-left-radius: 0;
        margin: 8px 0px 8px 0px;
        font-size: 14px;
        line-height: 1.5em;
        position: relative;
        transition: width .3s ease-in-out;
        text-align: left;
    }
    &--theme {
        background-image: linear-gradient(to bottom, #42adff, #4827ce, #0b6b97);
        background-size: 100vw 100vh;
        background-position-y: 100vh;
        background-attachment: fixed;
    }
    &__time {
        margin-left: 5px;
        color: rgb(172, 182, 209);
    }
}

.conversation-message {
    &__deleted {
        border-radius: 15px;
        width: 100%;
        background: rgba(7, 118, 177, 0.204);
        margin: 8px 0px 8px 0px;
        padding: 10px;
    }
}