.page {
  width: 100%;
  &__container {
    max-width: 1890px;
    padding: 10px 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .add-new-post {
    color: #1da1f2;
  }
  &__info {
    width: 300px;
  }
  &__posts {
    width: 64%;
  }
  &__suggestions {
    width: 300px;
  }
}

.no-user {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000000;
  &__bg {
    width: 100%;
    height: 100%;
    background: url(../../assets/img/no-user.jpg) center no-repeat;
    background-size: cover;
    opacity: 0.8;
  }
  &__text {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: white;
    font-size: 50px;
  }
  &__text-content {
    padding: 30px;
    background: rgba($color: #000000, $alpha: 0.6);
    border-radius: 15px;
    span {
      display: block;
      margin-bottom: 20px;
    }
    a {
      background: gray;
      border-radius: 15px;
      padding: 10px;
    }
  }
}
